#**Scraper Grammy: raspagem de tabelas do wikipedia com Pandas**

> *Baseado no Scraper Oscar, disponível em: https://github.com/juditecypreste/Scraper-Oscar*

In [3]:
#Imports
from google.colab import drive
import pandas as pd

drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive

**Categoria:** Álbum do Ano

In [0]:
#inserindo a URL da página e lendo seu HTML através do pandas
album_do_ano = pd.read_html("https://pt.wikipedia.org/wiki/Grammy_Award_para_%C3%A1lbum_do_ano")

A página "Grammy Award para álbum do ano" do ["Grammy Award para álbum do ano"](https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:P%C3%A1gina_principal) divide, em tabelas, categorizando o prêmio por década. Com exceção da primeira tabela, que possui dados das décadas de 50 e 60.

É preciso ter em mente que em python, os índices de listas vão de 0..n, nesse contexto, a tabela com dados das décadas de 50 e 60 estão, por exemplo, no índice 2 do dataset "albuns", criado na célula anterior. As tabelas contendo as informações de todos os prêmios estão no intervalo [2, 8].

In [218]:
#adicionando a dataframes

#iterar sobre a página e unir as tabelas necessitaria de maior poder computacional, como são poucas tabelas, não há prejuízo em fazer da seguinte forma:
decada_50e60 =  pd.DataFrame(album_do_ano[2])
decada70 = pd.DataFrame(album_do_ano[3])
decada80 = pd.DataFrame(album_do_ano[4])
decada90 = pd.DataFrame(album_do_ano[5])
decada00 = pd.DataFrame(album_do_ano[6])
decada10 = pd.DataFrame(album_do_ano[7])
decada20  = pd.DataFrame(album_do_ano[8])

#unindo dataframes
frames = [decada_50e60, decada70, decada80, decada90, decada00, decada10, decada20]

#concatenando e resetando o index das linhas
premio_album_do_ano = pd.concat(frames).reset_index(drop=True)
premio_album_do_ano

     Ano  ...                                          Indicados
0   1959  ...  Come Fly with Me por Frank Sinatra Ella Fitzge...
1   1960  ...  Belafonte at Carnegie Hall por Harry Belafonte...
2   1961  ...  Belafonte Returns to Carnegie Hall por Harry B...
3   1962  ...  Breakfast at Tiffany's Soundtrack por Henry Ma...
4   1963  ...  I Left My Heart in San Francisco por Tony Benn...
..   ...  ...                                                ...
57  2016  ...  Sound & Color por Alabama Shakes To Pimp a But...
58  2017  ...  Lemonade por Beyoncé Purpose por Justin Bieber...
59  2018  ...  Awaken, My Love! por Childish Gambino 4:44 por...
60  2019  ...  Invasion of Privacy por Cardi B By the Way, I ...
61  2020  ...  I , I por Bon Iver Norman Fucking Rockwell por...

[62 rows x 4 columns]

In [0]:
#removendo a coluna indicados
premio_album_do_ano.drop(columns='Indicados', axis=1, inplace=True)

In [220]:
#verificando se existem campos nulos
pd.isnull(premio_album_do_ano)

      Ano  Vencedores  Álbum
0   False       False  False
1   False       False  False
2   False       False  False
3   False       False  False
4   False       False  False
..    ...         ...    ...
57  False       False  False
58  False       False  False
59  False       False  False
60  False       False  False
61  False       False  False

[62 rows x 3 columns]

In [221]:
premio_album_do_ano['Vencedores'].str.split(expand=True)
premio_album_do_ano

     Ano  ...                                   Álbum
0   1959  ...               The Music from Peter Gunn
1   1960  ...                     Come Dance with Me!
2   1961  ...     The Button-Down Mind of Bob Newhart
3   1962  ...                   Judy at Carnegie Hall
4   1963  ...                        The First Family
..   ...  ...                                     ...
57  2016  ...                                    1989
58  2017  ...                                      25
59  2018  ...                               24K Magic
60  2019  ...                             Golden Hour
61  2020  ...  When We All Fall Asleep Where Do We Go

[62 rows x 3 columns]

Nota-se que a coluna 'Vencedores' em algumas linhas, possui mais de uma informação. Para normalização do dataframe, será considerado apenas o nome do artista/intérprete do álbum.

Há um padrão, sempre que há mais que o nome no interpreta na coluna, essa informação é precedida pelos caracteres ' . '. Logo, basta que seja feito um split com esse delimitador.

In [222]:
#adicionando 
premio_album_do_ano['Interprete'] = premio_album_do_ano['Vencedores'].str.split(' . ').str[0]
premio_album_do_ano

     Ano  ...       Interprete
0   1959  ...    Henry Mancini
1   1960  ...    Frank Sinatra
2   1961  ...      Bob Newhart
3   1962  ...     Judy Garland
4   1963  ...    Vaughn Meader
..   ...  ...              ...
57  2016  ...     Taylor Swift
58  2017  ...            Adele
59  2018  ...       Bruno Mars
60  2019  ...  Kacey Musgraves
61  2020  ...    Billie Eilish

[62 rows x 4 columns]

Excluindo a coluna 'vencedores e organizando e salvando o dataframe no google drive

In [223]:
#excluindo a coluna Vencedores
premio_album_do_ano.drop(columns='Vencedores', axis=1, inplace=True)

#organizando as colunas
melhor_album = premio_album_do_ano[['Ano', 'Álbum', 'Interprete']]
melhor_album.to_csv('melhor_album.csv')
!cp data.csv "drive/My Drive/"
melhor_album

     Ano                                   Álbum       Interprete
0   1959               The Music from Peter Gunn    Henry Mancini
1   1960                     Come Dance with Me!    Frank Sinatra
2   1961     The Button-Down Mind of Bob Newhart      Bob Newhart
3   1962                   Judy at Carnegie Hall     Judy Garland
4   1963                        The First Family    Vaughn Meader
..   ...                                     ...              ...
57  2016                                    1989     Taylor Swift
58  2017                                      25            Adele
59  2018                               24K Magic       Bruno Mars
60  2019                             Golden Hour  Kacey Musgraves
61  2020  When We All Fall Asleep Where Do We Go    Billie Eilish

[62 rows x 3 columns]

**Categoria:** [Canção do Ano](https://en.wikipedia.org/wiki/Grammy_Award_for_Song_of_the_Year)

Devido a desatualização das páginas escritas em português, para essa categoria foi utilizada a página em inglês do wikipedia

In [0]:
#inserindo a URL da página e lendo seu HTML através do pandas
melhor_cancao = pd.read_html("https://en.wikipedia.org/wiki/Grammy_Award_for_Song_of_the_Year")

A página, dessa vez, organiza todos os premiados em uma única tabela

In [70]:
#a segunda tabela da página contém as informações do prêmio de canção do ano
premio_cancao_do_ano = pd.DataFrame(melhor_cancao[1])
premio_cancao_do_ano

    Year[I]  ...      Ref.
0      1959  ...      [12]
1      1960  ...      [13]
2      1961  ...      [14]
3      1962  ...      [15]
4      1963  ...      [16]
..      ...  ...       ...
57     2016  ...      [65]
58     2017  ...      [66]
59     2018  ...      [67]
60     2019  ...  [68][69]
61     2020  ...      [70]

[62 rows x 7 columns]

In [71]:
#deletando a coluna 'Ref.', 'Nominees', 'Nationality' e 'Winner'
premio_cancao_do_ano.drop(['Ref.', 
                           'Nominees', 
                           'Nationality', 
                           'Winner(s)'], axis=1, inplace=True)
premio_cancao_do_ano

    Year[I]                         Work        Performing artist(s)[II]
0      1959                   "Volare" *                Domenico Modugno
1      1960  "The Battle of New Orleans"                   Johnny Horton
2      1961            "Theme of Exodus"  Instrumental (Various Artists)
3      1962               "Moon River" *                   Henry Mancini
4      1963    "What Kind of Fool Am I?"                 Sammy Davis Jr.
..      ...                          ...                             ...
57     2016          "Thinking Out Loud"                      Ed Sheeran
58     2017                    "Hello" *                           Adele
59     2018         "That's What I Like"                      Bruno Mars
60     2019          "This Is America" *                Childish Gambino
61     2020                  "Bad Guy" *                   Billie Eilish

[62 rows x 3 columns]

Removendo as sujeiras que estão na coluna 'Work', que se refere a canção ganhadora, o nome das músicas estão entre aspas.

In [72]:
#adicionando tudo que está contido entre aspas da coluna 'Work' a uma nova coluna 'Cancao'
premio_cancao_do_ano['Cancao'] = premio_cancao_do_ano['Work'].str.extract(pat ='"(.*?)"')
premio_cancao_do_ano

    Year[I]  ...                     Cancao
0      1959  ...                     Volare
1      1960  ...  The Battle of New Orleans
2      1961  ...            Theme of Exodus
3      1962  ...                 Moon River
4      1963  ...    What Kind of Fool Am I?
..      ...  ...                        ...
57     2016  ...          Thinking Out Loud
58     2017  ...                      Hello
59     2018  ...         That's What I Like
60     2019  ...            This Is America
61     2020  ...                    Bad Guy

[62 rows x 4 columns]

In [73]:
#removendo a coluna 'Work'
premio_cancao_do_ano.drop(['Work'], axis=1, inplace=True)
premio_cancao_do_ano

    Year[I]        Performing artist(s)[II]                     Cancao
0      1959                Domenico Modugno                     Volare
1      1960                   Johnny Horton  The Battle of New Orleans
2      1961  Instrumental (Various Artists)            Theme of Exodus
3      1962                   Henry Mancini                 Moon River
4      1963                 Sammy Davis Jr.    What Kind of Fool Am I?
..      ...                             ...                        ...
57     2016                      Ed Sheeran          Thinking Out Loud
58     2017                           Adele                      Hello
59     2018                      Bruno Mars         That's What I Like
60     2019                Childish Gambino            This Is America
61     2020                   Billie Eilish                    Bad Guy

[62 rows x 3 columns]

In [74]:
#mudando o nome da coluna 'Year[I]' para Ano e 'Performing artist(s)[II]' para Interprete
premio_cancao_do_ano.rename(columns={'Year[I]':'Ano', 'Performing artist(s)[II]':'Interprete'}, inplace=True)
premio_cancao_do_ano

     Ano                      Interprete                     Cancao
0   1959                Domenico Modugno                     Volare
1   1960                   Johnny Horton  The Battle of New Orleans
2   1961  Instrumental (Various Artists)            Theme of Exodus
3   1962                   Henry Mancini                 Moon River
4   1963                 Sammy Davis Jr.    What Kind of Fool Am I?
..   ...                             ...                        ...
57  2016                      Ed Sheeran          Thinking Out Loud
58  2017                           Adele                      Hello
59  2018                      Bruno Mars         That's What I Like
60  2019                Childish Gambino            This Is America
61  2020                   Billie Eilish                    Bad Guy

[62 rows x 3 columns]

In [76]:
#Organizando as colunas e salvando em csv
melhor_musica = premio_cancao_do_ano[['Ano', 'Cancao', 'Interprete']]
melhor_musica.to_csv('melhor_musica.csv')
!cp melhor_musica.csv "drive/My Drive/"
melhor_musica

     Ano                     Cancao                      Interprete
0   1959                     Volare                Domenico Modugno
1   1960  The Battle of New Orleans                   Johnny Horton
2   1961            Theme of Exodus  Instrumental (Various Artists)
3   1962                 Moon River                   Henry Mancini
4   1963    What Kind of Fool Am I?                 Sammy Davis Jr.
..   ...                        ...                             ...
57  2016          Thinking Out Loud                      Ed Sheeran
58  2017                      Hello                           Adele
59  2018         That's What I Like                      Bruno Mars
60  2019            This Is America                Childish Gambino
61  2020                    Bad Guy                   Billie Eilish

[62 rows x 3 columns]